<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<%= form_tag "/admin/merge/#{params[:id]}", :method => 'get' do %>

  <% if params[:id].is_a? String %>
    <%= "form type: " + form_type %> 
    <%= "form action: " + form_action.map{|k,v| "#{k}=#{v}"}.join('&') %>
    <h4><%= _("Merge Articles") %></h4>
    <p> Article ID </p>
    <%= text_field_tag :merge_with, params[:merge_with] %>
    <%= submit_tag "Merge", :name => nil %>
  <% end %>

<% end %>
